@import "../../_variables";

.side {
  flex: 0 0 15%;
  border-right: 1px solid $grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 15%;
  height: calc(100% - 3rem);
  background-color:#00315E;

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: $black;
    font-size: 14px;
    .icon {
      width: 20px;
      height: 20px;
      fill: #919eac;
      margin-right: 1rem;
    }
  }

  ul {
    list-style: none;
    margin-top: 1rem;

    li {
      margin: 0.5rem 1rem;
      &.active-sidebar-item ul {
        display: block;
      }

      ul {
        display: none;
      }

      a {
        justify-content: space-between;
        color:white;
        .nav-item {
          display: flex;
          color:black;
        }
        .count {
          background-color:#FF6A00;
          padding: 0.1rem 0.2rem;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .bottom-link {
    margin: 1.5rem 1rem;
  }
  .navStyle{
    background:white;
    height:50px;
     width:180px;
     border-radius:5px;
     justify-content:start;
     align-items: center;
     box-shadow: 2px 5px 5px -5px #000000;
    .navIcon{
      padding:0.5rem;
    }

  }
  .navLogout{
       background:white;
    height:50px;
     width:100%;
     justify-content:start;
     align-items: center;
     box-shadow: 2px 5px 5px -5px #000000;
    }
}
