.filterbar {
  height: 6vh;
  padding-left: 2rem;
  color: #a4a8a8;
  border: 1px solid #cccccc;
  width: 28rem;
  margin-left: 1rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
