.order-header {
  display: flex;
  width: 100%;
  .order {
    font-size: 2rem;
    color: #454b4d;
    padding: 1rem 1rem 0;
  }
  .orderBtn {
    margin-left: auto;
    position: relative;
    top: 2rem;
  }
}

.order-ul {
  padding-left: 2.5rem;
  font-size: 0.8rem;
  color: #454b4d;
  font-weight: 600;
  .export {
    padding-right: 3rem;
    float: left;
  }
}

.all-order {
  width: 100%;
  border-bottom: 1px solid #ccc;
  .location {
    display: flex;
    margin-left: auto;
    .location-li {
      padding: 1rem 2rem;
      color: #7e8384;
      display: flex;
      margin-left: auto;
    }
    .icon {
      width: 20px;
      height: 20px;
      fill: #7e8384;
    }
  }
}

.filter {
  display: flex;
  height: 6vh;
  margin: 2rem 0;
  .allorder-filterbar {
    height: 6vh;
    padding-left: 2rem;
    color: #a4a8a8;
    border: 1px solid #cccccc;
    width: 28rem;
    margin-left: 1rem;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .status {
    border: 1px solid #cccccc;
    color: #454b4d;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .savebtn {
    border: 1px solid #ccc;
    margin-left: 1rem;
    padding: 0 1rem;
    color: #454b4d;
    font-size: 0.9rem;
  }
  .sortbtn {
    border: 1px solid #ccc;
    padding: 0 1rem;
    margin-left: 1.5rem;
    color: #454b4d;
    font-size: 0.9rem;
  }
}

tr {
  border-bottom: 1px solid #cccccc;
  th,
  td {
    text-align: left;
    padding: 8px;
    height: 4rem;
  }
  .checkbox {
    padding-left: 1rem;
  }

  .order {
    color: #0672bc;
  }

  .paid {
    display: flex;
    background-color: #cccccc;
    border: 1px solid #cccccc;
    border-radius: 30px;
    width: 50%;
    padding: 0 10px;
    color: #7e8384;
    .paid-circle {
      width: 12px;
      height: 12px;
      background-color: #707070;
      border-radius: 50px;
      display: flex;
      align-self: center;
      margin-right: 2px;
    }
  }
  .pending {
    display: flex;
    width: 70%;
    background-color: #ffc68b;
    color: #5c4531;
    border: 1px solid #ffc68b;
    border-radius: 30px;
    padding: 0 10px;
    .pending-circle {
      width: 12px;
      height: 12px;
      border: 1px solid #c05717;
      border-radius: 50px;
      display: flex;
      align-self: center;
      margin-right: 2px;
    }
  }

  .fulfilled {
    display: flex;
    background-color: #cccccc;
    border: 1px solid #cccccc;
    border-radius: 30px;
    width: 60%;
    padding: 0 8px;
    color: #7e8384;
    .fulfilled-circle {
      width: 12px;
      height: 12px;
      background-color: #707070;
      border-radius: 50px;
      display: flex;
      align-self: center;
      margin-right: 2px;
    }
  }
  .unfulfilled {
    display: flex;
    width: 70%;
    background-color: #ffea8a;
    color: #7e8384;
    border: 1px solid #ffc68b;
    border-radius: 30px;
    padding: 0 8px;
    .unfulfilled-circle {
      width: 12px;
      height: 12px;
      border: 1px solid #c05717;
      border-radius: 50px;
      display: flex;
      align-self: center;
      margin-right: 2px;
    }
  }
  .Customer {
    padding-left: 2rem;
    width: 13rem;
  }
}
