@import "../../_variables";

.admin-row {
  display: flex;
  justify-content: center;
  padding: 1rem;

  .container {
    flex-direction: column;
    max-width: 1180px;
    width: 100%;
    padding: 1rem 0;

    .admin-header {
      display: flex;
      .title {
        font-size: 20px;
      }
    }

    .filter-data {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;

      .metrics-card {
        min-width: 280px;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
.overviewList{
  // background:white;
  width:100%;
  padding-top: 2rem;
  padding-bottom:2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .overviewBox{
    height:100px;
    width:250px;
     background:white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);

    .viewContainer{
      display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    }

    .overviewText{
      margin-top: 3rem;
      padding-left:0.8rem;
      font-size: larger;

      p{
        color:#6495ed;
      }
      
      }
      .viewImage{
        padding:10px
      }
  }

.overviewBox:hover{
  transition: all .2s ease-in-out;
transform: scale(1.1);
}

}
    .content {
      display: flex;
      flex-wrap: wrap;
      padding: 1.5rem 0;
    }
  }
}
