.previous{
    display: flex;
    margin-left: 1rem;
    margin-top: 3rem;
    color: #454B4D;
}

.chevron-icon{
    width: 20px;
    height: 20px;
    fill: #707070;
}

.draftbtn{
    margin-left: auto;
}

.draft-export{
    padding: 1rem 0;
}

.filter-status{
    border: 1px solid #cccccc;
    color: #454B4D;
    font-weight: 600;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    margin-left: 1rem;
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.draft-filterbar{
    height: 6vh;
    padding-left: 2rem;
    color: #a4a8a8;
    border: 1px solid #cccccc;
    width: 70vw;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.checkbox-border{
    align-items: center;
    display: flex;
    border: 1px solid #CCCCCC;
    width: 50px;
    height: 25px;
    margin-top: 1rem;
    margin-left: 0.5rem;
    padding-left: 0.5rem!important;
}