.header {
  background-color: #ffffff;
  height: 3rem;
  width: 100vw;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px 9px 9px -5px rgba(240, 231, 240, 1);
  -moz-box-shadow: 0px 9px 9px -5px rgba(240, 231, 240, 1);
  box-shadow: 0px 9px 9px -5px rgba(240, 231, 240, 1);
  .logo-section {
    display: flex;
    align-items: center;
    z-index: 9;
    .admin {
      font-size: 1.2rem;
      font-style: italic;
      color: #acaaaa;
      font-weight: 500;
    }
    .logo {
      padding-left: 1rem;
      width: 120px;

      img {
        width: 100%;
      }
    }
  }
  .search {
    margin-left: auto;
    margin-right: auto;
    .fa-search {
      font-size: 0.7rem;
      color: #000;
      position: relative;
      left: 20px;
    }
    .searchInput {
      width: 30rem;
      background-color: #fff4f4;
      color: #000000;
      font-size: 0.7rem;
      border: none;
      height: 1.8rem;
      padding-left: 30px;
    }
  }
  .user {
    display: flex;
    align-items: center;
    .avatar {
      width: 1.75rem;
      height: 1.75rem;
      border: 2px solid #707070;
      border-radius: 50px;
      margin-right: 1rem;
    }
    .profile {
      padding-right: 3rem;
      display: flex;
      flex-direction: column;
      .name {
        font-size: 1.15rem;
        font-weight: 700;
        margin-bottom: 0;
        line-height: 1;
      }
      .account {
        font-size: 0.65rem;
        opacity: 0.65;
      }
    }
  }
}
