@import '../../_variables';

.table {
  overflow-x: auto;

  .responsive-table {
    width: 100%;
    border-collapse: collapse;

    .th-color {
      color: #454B4D;
    }

    tr {
      border-bottom: 1px solid #cccccc;

      th,
      td {
        text-align: left;
        padding: 8px;
        height: 4rem;
      }

      .customer-padding{
        padding-right: 1rem;
      }

      .color-orange {
        color: #E85D12;
      }

      .color-lgray {
        color: #7E8384;
      }

      .color-dgray {
        color: #4E4A47;
      }

      .checkbox-border {
        align-items: center;
        display: flex;
        border: 1px solid #CCCCCC;
        width: 50px;
        height: 25px;
        margin-top: 1rem;
        margin-left: 0.5rem;
        padding-left: 0.5rem !important;
      }

      .checkbox {
        padding-left: 1rem;
      }

      .chevron-icon {
        width: 20px;
        height: 20px;
        fill: #707070;
      }

      .product-chevron {
        display: flex;
        align-items: center;
      }

      .product-image {
        background-color: #F4F6F8;
        width: 50px;
        height: 50px;
        display: flex;

        img {
          width: 100%;
        }

        .product-icon {
          width: 20px;
          height: 20px;
          fill: #707070;
          margin: auto;
        }
      }

      .order-item {
        color: #0672bc;
      }

      .crud {
        color: $dark-grey;
        font-size: 12px;
        cursor: pointer;

        &.edit {
          color: $gh-color-orange
        }

        &.del {
          color: $red;
        }
      }

      .recovery {
        display: flex;
        background-color: #ffc68b;
        color: #5c4531;
        border: 1px solid #ffc68b;
        border-radius: 30px;
        font-size: 0.9rem;
        justify-content: center;
      }

      .paid {
        display: flex;
        background-color: #cccccc;
        border: 1px solid #cccccc;
        border-radius: 30px;
        width: 50%;
        padding: 0 10px;
        color: #7e8384;
        font-size: 0.9rem;

        .paid-circle {
          width: 12px;
          height: 12px;
          background-color: #707070;
          border-radius: 50px;
          display: flex;
          align-self: center;
          margin-right: 2px;
        }
      }

      .pending {
        display: flex;
        width: 70%;
        background-color: #ffc68b;
        color: #5c4531;
        border: 1px solid #ffc68b;
        border-radius: 30px;
        padding: 0 10px;
        font-size: 0.9rem;

        .pending-circle {
          width: 12px;
          height: 12px;
          border: 1px solid #c05717;
          border-radius: 50px;
          display: flex;
          align-self: center;
          margin-right: 2px;
        }
      }

      .fulfilled {
        display: flex;
        background-color: #cccccc;
        border: 1px solid #cccccc;
        border-radius: 30px;
        width: 60%;
        padding: 0 8px;
        color: #7e8384;
        font-size: 0.9rem;

        .fulfilled-circle {
          width: 12px;
          height: 12px;
          background-color: #707070;
          border-radius: 50px;
          display: flex;
          align-self: center;
          margin-right: 2px;
        }
      }

      .unfulfilled {
        display: flex;
        width: 70%;
        background-color: #ffea8a;
        color: #7e8384;
        border: 1px solid #ffc68b;
        border-radius: 30px;
        padding: 0 8px;
        font-size: 0.9rem;

        .unfulfilled-circle {
          width: 12px;
          height: 12px;
          border: 1px solid #c05717;
          border-radius: 50px;
          display: flex;
          align-self: center;
          margin-right: 2px;
        }
      }

      .Customer {
        padding-left: 2rem;
        width: 13rem;
      }
    }
  }
}