@import './_variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $default-font-family;
  font-size: $default-font-size;
  background-color: $gh-bg;

  .row {
    display: flex;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  button {
    cursor: pointer;
    outline: none;
  }

  a {
    text-decoration: none;
    color: unset;
  }

  select {
    border: 0;
    background: transparent;
    outline: 0;
  }

  input {
    outline: none;
  }

  .card-btn-link {
    color: $gh-red;
    font-size: 9px;
    text-decoration: underline;
    cursor: pointer;
  }
}
