@import './_variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $default-font-family;
  font-size: $default-font-size;
  background-color: $gh-bg;

  .row {
    display: flex;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
