@import '../../_variables';

.data-card {
  padding: 1rem;
  margin: 0 1rem 1rem 0;
  border-radius: 4px;
  width: 100%;
  height: fit-content;

  .data-card-header {
    display: flex;
    justify-content: space-between;

    .title {
      line-height: 1;
      padding-bottom: 0.5rem;
      text-decoration: underline dotted;
    }

    .data-card-link {
      font-size: 14px;
      text-decoration: none;
      color: $gh-md-blue;
    }
  }

  .data-card-body {
    .data-card-value {
      display: flex;
      justify-content: space-between;

      .value {
        font-size: 20px;
      }
    }

    .data-card-content {
      margin: 1rem 0;
      .sub-section {
        display: flex;
        justify-content: space-between;
      }
      canvas {
        width: 335px !important;
      }
    }
  }
}